aniso8601==7.0.0
asgiref==3.2.3
Django==3.0.3
django-cors-headers==3.2.1
django-debug-toolbar==2.2
django-filter==2.2.0
django-health-check==3.12.1
django-pivot==1.8.0
django-redis==4.11.0
graphene==2.1.8
graphene-django==2.8.2
graphql-core==2.3.1
graphql-relay==2.0.1
iso8601==0.1.12
promise==2.3
psycopg2==2.8.4
pytz==2019.3
redis==3.4.1
Rx==1.6.1
singledispatch==3.4.0.3
six==1.14.0
sqlparse==0.3.0
