.header {
  height: 5%;
  background: #1f2833;
  display: flex;
  #filters {
    position: absolute;
    color: #ffffff;
    .dateRange {
      margin-top: 0.5rem;
      font-size: large;
    }
    #sidebarToggle {
      color: #ffffff;
    }
  }
  p {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    margin-bottom: 0.5rem;
    flex-grow: 1;
    color: #ffffff;
  }
}
