.top-bar {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  .header {
    height: 45px;
    background: #1f2833;
    #sidebarToggle {
      position: absolute;
      color: #ffffff;
    }

    .mobileOnly {
      display: none;
    }

    p {
      text-align: center;
      margin-bottom: 0;
      flex-grow: 1;
      margin-top: 5px;
      font-weight: bold;
      font-size: x-large;
      color: #ffffff;
    }

    a {
      position: absolute;
      right: 25px;
      margin-top: 7px;
      color: #ffffff;
    }
  }
  .filters {
    color: #1f2833;
    background: #ffffff;
    button.primary {
      margin: 0.5rem 0;
      font-size: small;
      margin-left: 0.5rem;
      border-radius: 8px;
      &.dateRange {
        background: #1f2833;
        color: #ffffff;
      }
      &.transaction {
        background: #777b7e;
        color: #ffffff;
      }
      &.spendType {
        background: #48494b;
        color: #ffffff;
      }
      &.token {
        background: #e4e4e4;
      }
      &.gender {
        background: #f4f7fa;
      }
    }

    #sidebarToggle {
      color: #1f2833;
    }
  }

  /* X-Small devices (landscape phones, 576px and below) */
  @media (max-width: 576px) {
    .header {
      .mobileOnly {
        display: block;
      }
      .nonMobile {
        display: none;
      }
      p {
        font-size: 1.35em;
      }
    }
    .filters {
      &.nonMobile {
        visibility: hidden;
        background: #f4f7fa;
      }
    }
  }

  /* Small devices (tablets, 768px and below) The navbar toggle appears at this breakpoint */
  @media (max-width: 768px) {
    .header {
      p {
        margin-top: 10px;
        font-size: large;
      }
    }
  }
}
