.top-bar {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  .header {
    height: 45px;
    background: #1f2833;

    p {
      text-align: center;
      margin-bottom: 0;
      flex-grow: 1;
      margin-top: 5px;
      font-weight: bold;
      font-size: x-large;
      color: #ffffff;
    }
  }
  .filters {
    color: #1f2833;
    background: #ffffff;
    button.primary {
      margin: 0.5rem 0;
      font-size: small;
      margin-left: 0.5rem;
      border-radius: 8px;
      &.dateRange {
        background: #1f2833;
        color: #ffffff;
      }
      &.transaction {
        background: #777b7e;
        color: #ffffff;
      }
      &.spendType {
        background: #48494b;
        color: #ffffff;
      }
      &.token {
        background: #e4e4e4;
      }
      &.gender {
        background: #f4f7fa;
      }
    }

    #sidebarToggle {
      color: #1f2833;
    }
  }
}
