.app {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  // background-color: #f2f2f2;
  height: 100vh;
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .tooltip {
    background: #1f2833;
    color: #fff;
    font-size: 12px;
    left: 130px;
    padding: 1px;
    position: absolute;
    text-align: center;
    top: 95px;

    z-index: 10;
    display: block;
    opacity: 0;
    p {
      margin-bottom: 0;
    }
  }
}
