table {
  width: 100%;
  border-collapse: collapse;

  /* Zebra striping */

  tr:nth-of-type(odd) {
    background: #eee;
  }

  th {
    background: #333;
    color: white;
    font-weight: bold;
    cursor: auto;
    background-repeat: no-repeat;
    background-position: 3% center;
  }

  td,
  th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 0.75rem;
  }

  th.des:after {
    content: "\21E9";
  }

  th.aes:after {
    content: "\21E7";
  }
}
