#users {
  background: #ffffff;
  box-shadow: 0 0 5px 2px #000000;
  .title {
    background: #58d7b1;
    color: #ffffff;
  }
  .tile-1 {
    .summary-tile-content {
      background: #58d7b1;
    }
  }
  .tile-2 {
    .summary-tile-content {
      background: #80bdff;
    }
  }
  .tile-3 {
    .summary-tile-content {
      background: #70ff76;
    }
  }
}
