#body {
  margin-top: 92px;
  padding: 2px 0;

  #summarySection {
    #tradeSummary,
    #usersSummary {
      margin-top: 0.5rem;
    }
    @media (max-width: 992px) {
      .col {
        &:first-child {
          padding-right: 7.5px;
        }
        &:last-child {
          padding-left: 7.5px;
        }
      }
    }
  }

  #dataSection {
    .users {
      box-shadow: 0 2px 6px 0 rgba(207, 211, 217, 0.49);
      background: #ffffff;
      border-radius: 6px;
      margin-top: 0.5rem;
      .toggle {
        position: absolute;
        right: 15px;
        top: 0;
        margin: 0.25rem 0;
        label.checkbox {
          font-size: small;
          input {
            width: 18px;
            height: 18px;
            margin-right: 2px;
            vertical-align: bottom;
          }
        }
      }
    }

    .trades {
      .row {
        .column {
          box-shadow: 0 2px 6px 0 rgba(207, 211, 217, 0.49);
          background: #ffffff;
          border-radius: 8px;
          margin-top: 0.5rem;
        }
      }
    }
  }

  .togglableSection {
    margin-top: 0.5rem;
    .column {
      background: #ffffff;
    }
    #toggleGroup {
      margin-top: 0.5rem;
      background: #ffffff;
      margin-bottom: 0;

      .btn-group-toggle {
        display: flex;
        flex-grow: 1;
        .btn-secondary {
          border: none;
          border-radius: 0;
          padding: 0.5rem 1rem;
          background: none;
          font-size: small;
          color: #1f2833;
          font-weight: 400;
          &.active {
            border-bottom: 2px solid #1f2833;
            font-weight: 600;
          }
          &:hover {
            border-bottom: 2px solid #1f2833;
            font-weight: 600;
          }
        }
      }
    }
  }

  @media (max-width: 650px) {
    margin-top: 45px;
  }

  @media (max-width: 400px) {
    #dataSection {
      .users {
        .toggle {
          right: 5px;
          label.checkbox {
            font-size: x-small;
          }
        }
      }
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .row {
      margin-left: 0.5em;
      margin-right: 0.5em;
      margin-bottom: 0.5em;
    }
    #summarySection {
      margin-top: 0;
      display: flex;

      #tradeSummary {
        margin-right: -20px;
        margin-left: -10px;
      }
      #usersSummary {
        margin-left: -20px;
        margin-right: -10px;
      }
    }

    #dataSection {
      margin-left: 0.25em;
      margin-right: 0.25em;
      .users {
        margin: 0 5px 0 -2px;
      }
      .trades {
        margin-right: -5px;
        .row {
          margin: 0;
          .column {
            &.spend {
              margin: 0 0 0 -10px;
            }
            &.gender {
              margin: 0 -2px 0 12px;
            }
            &.traders {
              margin: 0 -12px 0 12px;
            }
          }
        }
      }
    }

    .togglableSection {
      box-shadow: 0 2px 6px 0 rgba(207, 211, 217, 0.49);
      background: #ffffff;
      border-radius: 8px;
      margin: 0 2px;
      .column {
        background: none;
      }
      #toggleGroup {
        background: none;
        border-bottom: 1px solid #d7dbdf;
        .btn-group-toggle {
          flex-grow: 0;
          .btn-secondary {
            text-align: left;
          }
        }
      }
    }
  }
}
