.card {
  color: #000000;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 5px 2px #000000;
  .title {
    font-size: x-large;
    font-weight: 600;
    margin: 0.3rem 0;
    text-align: center;
  }
  .body {
    display: flex;
    justify-content: space-evenly;
    padding: 0.25em;
    align-items: center;
    svg {
      font-size: 4em;
    }
    .details {
      p {
        font-size: 2em;
        font-weight: 800;
        margin: 0;
        padding: 0;
      }
    }
    .trend {
      display: flex;
      justify-content: center;
      p {
        font-size: 1.5em;
        font-weight: 600;
        padding-left: 0.5em;
      }
      svg {
        font-size: 2em;
      }
    }
  }
}
