.card {
  color: #000000;
  background: #ffffff;
  cursor: pointer;
  max-height: 100px;
  min-height: 100px;
  border-radius: 8px;

  .title {
    font-size: small;
    margin: 0 0.5rem;
    text-align: left;
    @media (max-width: 375px) {
      font-size: x-small;
    }
  }
  .body {
    align-items: left;
    .details {
      display: flex;
      p.label {
        font-size: 1.5rem;
        font-weight: 800;
        margin: 0;
        padding: 0;
        margin-left: 0.5rem;
        span {
          font-size: 0.5rem;
          font-weight: 500;
          margin-left: 2px;
        }
      }
    }
    .trend {
      display: flex;
      margin-top: 0.5rem;
      &.angle-double-up {
        color: green;
      }
      &.angle-double-down {
        color: red;
      }
      &.grey {
        color: grey;
        svg {
          display: none;
        }
      }
      p {
        padding-left: 5px;
        margin-bottom: 0;
        .trendLabel {
          font-size: 0.75em;
        }
        svg {
          font-size: 0.75em;
          margin-right: 2px;
        }
      }
    }
  }

  /* Large devices (desktops, 992px and upto 1200px) */
  @media (min-width: 992px) and (max-width: 1200px) {
    max-height: 65px;
    min-height: 65px;
    .title {
      font-size: x-small;
    }
    .body {
      .details {
        p.label {
          font-size: 0.75rem;
          span {
            font-size: 0.5rem;
          }
        }
      }
      .trend {
        margin-top: -0.2rem;
        p {
          padding-left: 4px;
          margin-bottom: 0;
          .trendLabel {
            font-size: 0.5em;
          }
          svg {
            font-size: 0.5em;
            margin-right: 2px;
          }
        }
      }
    }
  }

  /* Large devices (desktops, 1200px and upto 1400px) */
  @media (min-width: 1200px) and (max-width: 1400px) {
    max-height: 85px;
    min-height: 85px;
    .body {
      .details {
        p.label {
          font-size: 1.05rem;
          span {
            font-size: 0.5rem;
          }
        }
      }
      .trend {
        margin-top: 0.25rem;
        p {
          padding-left: 4px;
          margin-bottom: 0;
          .trendLabel {
            font-size: 0.75em;
          }
          svg {
            font-size: 0.75em;
            margin-right: 2px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    max-height: 80px;
    min-height: 80px;
    .body {
      .details {
        p.label {
          font-size: 1.05rem;
          span {
            font-size: 0.5rem;
          }
        }
      }
      .trend {
        margin-top: 0.2rem;
        p {
          padding-left: 4px;
          margin-bottom: 0;
          .trendLabel {
            font-size: 0.5em;
          }
          svg {
            font-size: 0.5em;
            margin-right: 2px;
          }
        }
      }
    }
  }

  @media (max-width: 400px) {
    max-height: 60px;
    min-height: 60px;
    .body {
      .details {
        p.label {
          font-size: 0.75rem;
        }
      }
      .trend {
        margin-top: -0.2rem;
      }
    }
  }

  @media (max-width: 300px) {
    max-height: 50px;
    min-height: 50px;
    .body {
      .details {
        p.label {
          font-size: 0.65rem;
        }
      }
      .trend {
        margin-top: -0.4rem;
      }
    }
  }
}
