.card {
  color: #000000;
  background: #ffffff;
  cursor: pointer;
  max-height: 90px;
  min-height: 90px;
  border-radius: 8px;

  .title {
    font-size: 14px;
    margin: 0 0.5rem;
    text-align: left;
  }
  .body {
    align-items: left;

    .details {
      display: flex;
      p.label {
        font-size: 1.5rem;
        font-weight: 800;
        margin: 0;
        padding: 0;
        margin-left: 0.5rem;
        span {
          font-size: 0.5em;
          font-weight: 500;
          margin-left: 2px;
        }
      }
    }
    .trend {
      display: flex;
      margin-top: 0.5rem;
      &.angle-double-up {
        color: green;
      }
      &.angle-double-down {
        color: red;
      }
      &.grey {
        color: grey;
        svg {
          display: none;
        }
      }
      p {
        padding-left: 5px;
        margin-bottom: 0;
        .trendLabel {
          font-size: 0.75em;
        }
        svg {
          font-size: 0.75em;
          margin-right: 2px;
        }
      }
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (max-width: 1400px) and (min-width: 992px) {
    .title {
      font-size: 12px;
      margin: 0 0.25rem;
    }
    .body {
      .details {
        p.label {
          font-size: 0.95rem;
          font-weight: 600;
          margin-left: 0.25rem;
          span {
            font-size: 0.45em;
            font-weight: 500;
            margin-left: 2px;
          }
        }
      }
      .trend {
        display: flex;
        margin-top: 0;
        &.angle-double-up {
          color: green;
        }
        &.angle-double-down {
          color: red;
        }
        &.grey {
          color: grey;
          svg {
            display: none;
          }
        }
        p {
          padding-left: 4px;
          margin-bottom: 0;
          .trendLabel {
            font-size: 0.5em;
          }
          svg {
            font-size: 0.5em;
            margin-right: 2px;
          }
        }
      }
    }
  }
}
