#tradeSummary,
#usersSummary {
  background: #1f2833;
  border-radius: 8px;

  .tileTitle {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    color: #ffffff;
    display: flex;
    svg {
      margin: 6px 2px 0 5px;
      font-size: 1rem;
    }
    p {
      margin: 4px 0 0 5px;
      font-size: small;
      font-weight: 600;
    }
  }
  #tiles {
    margin-bottom: 0;
    .tile {
      padding: 0 0.5rem;
      margin-bottom: 1rem;
    }
  }
}
