#summary {
  padding-left: 1em;
  .tile {
    margin-top: 2rem;
  }
  .tile-1 {
    .card,
    svg {
      color: #108298;
    }
  }
  .tile-2 {
    .card,
    svg {
      color: #80bdff;
    }
  }
  .tile-3 {
    .card,
    svg {
      color: #58d7b1;
    }
  }
  .tile-4 {
    .card,
    svg {
      color: #008080;
    }
  }
  .tile-5 {
    .card,
    svg {
      color: #0000bb;
    }
  }
}
