#summary {
  .tile {
    .tile-content {
      background: #ffffff;
    }
  }
  .tile-1 {
    .tile-content {
      background: #108298;
    }
  }
  .tile-2 {
    .tile-content {
      background: #80bdff;
    }
  }
  .tile-3 {
    .tile-content {
      background: #58d7b1;
    }
  }
  .tile-4 {
    .tile-content {
      background: #008080;
    }
  }
  .tile-5 {
    .tile-content {
      background: #0000bb;
    }
  }
}
